<!-- Carousel -->
<div class="container">
  <div class="top">
    <video
      class="top__gif"
      autoplay
      loop
      muted
      playsinline
      src="../../../../assets/img/gif_no_background.mp4"
    ></video>
    <app-countdown
      (reached)="callBack($event)"
      [text]="text"
      units=" Days | Hours | Minutes | Seconds"
      end="July 22, 2022"
      >Patum 2021</app-countdown
    >
  </div>
  <div class="center">
    <div class="center__left">
      <h3 class="center__left--title3">SAPS D'ON SURT AQUESTA EXPRESSIÓ?</h3>
      <p class="center__left--text">
        Aquesta expressió és un fenòmen que forma part de la cultura popular
        dels carrers de Berga. El seu impulsor és l’Antoni un noi membre de
        L’E.E.E Llar de Santa Maria de Queralt i que juntament amb la
        col·laboració de Peu de Roca i Dcbediciones converteixen aquesta
        expressió en una campanya que intenta aglutinar aquest sentiment
        col·lectiu d’incertesa davant la celebració de la Patum. Així mateix
        esdevé un mitjà per a recaptar fons per la incorporació de material
        tecnològic (tablets i ordinadors) pel taller i escola Coloma.
      </p>
    </div>
    <h2 class="center__right">
      UNA CAMPANYA PER A RECAPTAR FONS PER INCORPORAR MATERIAL TEUNA CAMPANYA
      PER A RECAPTAR FONS PER INCORPORAR MATERIAL TECNOLÒGIC ALS ESPAIS DE
      L’ASSOCIACIÓ COLOMA.S ESPAIS DE L’ASSOCIACIÓ COLOMA.
    </h2>
  </div>
  <div class="banner">
    <div class="banner__section">
      <h2>Com puc col·laborar?</h2>
      <p>Obtenint la samarreta</p>
      <button class="button__colabora">Vull la samarreta</button>
    </div>
  </div>
</div>
