.banner {
  background-image: url("../../../../assets/img/CAMISETASINFONDO.png");
  width: 100%;
  background-position: right;
  background-size: contain;
  background-color: black;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  padding: 3em 1.5em;
  &__section {
    width: 30%;
    flex-direction: column;
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.3em;
      margin: 0.5em;
    }
    p {
      margin: 0.5em;
    }
  }
}

.button {
  &__colabora {
    background-color: rgb(72, 160, 142);
    color: white;
    display: block;
    margin: 1.5em auto;
    border: none;
    border-radius: 2px;
    padding: 0.8em 1.2em;
    text-transform: uppercase;
  }
}

.top {
  display: flex;
  justify-content: space-around;
  &__gif {
    max-width: 50%;
  }
}
.center {
  display: flex;
  justify-content: space-between;
  padding: 2.5em 1.5em;
  background-color: black;
  color: white;
  &__left {
    max-width: 50%;
    &--title3 {
      text-transform: uppercase;
      font-size: 1.3em;
    }
    &--text {
      padding: 1em 0;
    }
  }
  &__right {
    max-width: 50%;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.6em;
    &--title2 {
    }
  }
}
.text {
  display: flex;
  justify-content: center;
  p {
    margin: 3em;
    text-align: center;
  }
}
