.countdown {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  &__title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 3px;
  }
  &__timer {
  }
  &__date {
    // width: 30%;
    margin: 0em;

    &--number {
      font-weight: bolder;
    }
    &--text {
      font-weight: normal;
    }
  }
}

.Dies {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 4em;
  .measurements-text {
    display: block;
    font-size: 0.5em;
  }
}

.Hores {
  flex-direction: column;
  width: 30%;
}

.Minuts {
  flex-direction: column;
  width: 30%;
}

.Segons {
  flex-direction: column;
  width: 30%;
}
